.layoutContainer {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Main content area */
.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #000; /* or your preferred background */
  transition: margin-left 0.3s ease;
  margin-left: -50px; /* default sidebar width */
  margin-top: 60px;
}

/* When sidebar is collapsed, use this class */
.mainContent.collapsed {
  margin-left: 70px; /* collapsed sidebar width */
}
